.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar__headerLeft{
    display: flex;
    align-items: center;
}
.sidebar__headerLeft > h4{
    margin-left: 10px;
}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.sidebar__searchContainer > input{
    border: none;
    outline-width: 0;
    margin-left: 10px;
}

.sidebar__chats{
    flex: 1;
    background-color: white;
    overflow: scroll;
}


.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: #ededed;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 8px 12px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}